################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DiskUsageCounter/obj/x86/Debug/MainWindow.g.i.cs
