################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DiskUsageCounter/obj/x86/Debug/MainWindow.g.i.cs
/DiskUsageCounter/obj/x86/Debug/MainWindow.g.cs
/DiskUsageCounter/obj/x86/Debug/GeneratedInternalTypeHelper.g.i.cs
/DiskUsageCounter/obj/x86/Debug/GeneratedInternalTypeHelper.g.cs
/DiskUsageCounter/obj/x86/Debug/DiskUsageCounter_MarkupCompile.lref
/DiskUsageCounter/obj/x86/Debug/DiskUsageCounter_MarkupCompile.cache
/DiskUsageCounter/obj/x86/Debug/DiskUsageCounter.csprojResolveAssemblyReference.cache
/DiskUsageCounter/obj/x86/Debug/DiskUsageCounter.csproj.CoreCompileInputs.cache
/DiskUsageCounter/obj/x86/Debug/App.g.i.cs
/DiskUsageCounter/obj/x86/Debug/App.g.cs
/DiskUsageCounter/obj/x86/Debug
/DiskUsageCounter.suo
/.vs/DiskUsageCounter/v15
